<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utility Bot - The Ultimate Server Management Bot</title>
    <script src="https://kit.fontawesome.com/37b7d8c548.js" crossorigin="anonymous"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');
    </style>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div class="nav">
      <ul class="nav-items-list">
          <br>
          <li class="nav-item-gradient"><i class="fas fa-plus nav-img"></i><a class="nav-item-text" href="#"><!-- Put oauth link in between quote marks  -->add to server</a></li>
          <li class="nav-item"><i class="fas fa-envelope-square nav-img"></i><a href="/contact">contact us</a></li>
          <li class="nav-item"><i class="fas fa-list-ul nav-img"></i><a href="/commands">list of commands</a></li>
          <li class="nav-item"><i class="fas fa-question nav-img"></i><a href="/faq">FAQ</a></li>
      </ul>
  </div>

  <i class="fas fa-bars" id="openButton" onclick="navView();"></i>
  <div class="nav-collapsed" id="navCollapsed" style="height: 0%;">
      <ul id="navList">
          <li class="nav-item-gradient"><i class="fas fa-plus nav-img"></i><a class="nav-item-text" href="#"><!-- Put oauth link in between quote marks  -->add to server</a></li>
          <li class="nav-item"><i class="fas fa-envelope-square nav-img"></i><a href="/contact">contact us</a></li>
          <li class="nav-item"><i class="fas fa-list-ul nav-img"></i><a href="/commands">list of commands</a></li>
          <li class="nav-item active"><i class="fas fa-question nav-img"></i><a href="/faq">FAQ</a></li>
      </ul>
  </div>


    <div class="main">

    <div class="header">
      <h1 class="main-title">
        Utility Bot
      </h1>
      <div class="separator"></div>
      <h1 class="main-subtitle">The ultimate server management bot</h1>
      <div class="main-content">
       <h2 class="page-title">Complete list of UtilityBot commands</h2>
       <h1 class="commands-title" id="commandTitle" onclick="showHideCommands()">Moderation <i class="fas fa-angle-down"></i></h1>
       <table id="table" class="commands-list-category">
         <tr>
         <th>Command</th>
         <th>Description</th>
         </tr>
         <tr>
           <td>u!kick [member] (reason)</td>
           <td>Kicks a member.</td>
         </tr>
         <tr>
          <td>u!ban [member] (reason)</td>
          <td>Bans a member.</td>
        </tr>
        <tr>
          <td>u!unban [member] (reason)</td>
          <td>Unbans a member.</td>
        </tr>
        <tr>
          <td>u!mute [member]</td>
          <td>Mutes a member.</td>
        </tr>
        <tr>
          <td>u!unmute [member]</td>
          <td>Unmutes a member.</td>
        </tr>
        <tr>
          <td>u!purge [amount]</td>
          <td>Purges a specified amount of messages.</td>
        </tr>
       </table>
       <ul class="commands-list-category">Fun
        <li>Command</li>
        <li>Command</li>
        <li>Command</li>
        <li>Command</li>
        <li>Command</li>
      </ul>
      <ul class="commands-list-category">Configuration
        <li>Command</li>
        <li>Command</li>
        <li>Command</li>
        <li>Command</li>
        <li>Command</li>
      </ul>
      <ul class="commands-list-category">Other
        <li>Command</li>
        <li>Command</li>
        <li>Command</li>
        <li>Command</li>
        <li>Command</li>
      </ul>
      </div> 
    </div>
  </div>

    <div class="footer-row">
      <p>©2020-2021 Utility Bot, The Ultimate Server Management Bot</p>
          <a href="/privacy" class="footer-link">Privacy Policy</a>
          <br>
          <a href="malto:support@utilitybot.co">support@utilitybot.co</a>
  <hr>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <a href="/contact" class="footer-link">Contact us</a>
          <br>
          <i class="fa fa-user-friends" aria-hidden="true"></i>
          <a href="/reviews" class="footer-link">Reviews</a>
      <hr></hr>
      <p>Web design by <a class="web-design-credit" href="https://github.com/PineappleRind">PineappleRind</a></p>
  </div>
  <script src="js/site.js"></script>
  </body>
  </html>
