# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Private .env stuff where data is stored
config.py


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot


# Flask stuff:
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/


# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version


# SageMath parsed files
*.sage.py


# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject


# jetbrains
.idea/
.iml

# VSCode
.vscode/


# Mac OS .DS_Store, which is a file that stores custom attributes of its containing folder (this is for fellow mac users.)
.DS_Store
