<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <title>Utility Bot - Error 404</title>
<link rel="stylesheet" href="website/src/static/templates/error-style.css">
</head>
<body class="error">
    <div class="error-message">
    <div class="text-404">
		<div class="error-404">404</div>
		<div class="error-404-2">404</div>
        <div class="error-404-3">404</div>
    </div>
        <h1>Page Not Found</h1>
        <p>The specified URL may be incorrect. Click on the button below to return to the UtilityBot homepage.</p>
        <button>Return to Homepage</button>
    </div>
</body>
</html>
