/*Base styles*/
html {
    background:#35354d;
    color:white;
    font-family:Heebo;
}

a {
    color:white;
    text-decoration-skip-ink: all; /* Underline skips letter descenders */
    transition:100ms;
    font-family:Heebo;
}

a:hover {
    font-weight:bold;
}

button {
    border:none;
    background:none;
    color:white;
    border-bottom:1px solid white;
    transition:0.2s ease;
    margin:2px;
    padding:5px;
    font-size:15px;
}

button:hover {
     letter-spacing:0.1px;
     color:lightblue;
}

button:hover .fa-arrow-right {
    transform:translate(4px,0px) scale(1.4);
    color:white;
}

h1 {
    font-family:Work Sans, sans-serif;
}

hr {
    width:50%;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.158);
}

hr.left-separator {
    margin-left:0;
    margin:0;
}

table {
  border-collapse: collapse;
  width: 80%;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  display:none;
  animation-duration:1s;
  opacity:1;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color:rgba(0, 0, 0, 0.2);
}

tr:nth-child(even) {
    background-color: rgba(134, 134, 134, 0.103);
  }


ul {
    list-style-type:none;
    text-decoration:none;
}

.commands-title { /*The title for the commands list tables */
    background:linear-gradient(to right,rgba(71, 77, 140, 0.141), rgba(77, 98, 174, 0.257));
    border:1px solid white;
    margin:0;
    padding-left:7px;
    padding:8px;
    border-radius:3px;
    width:80%;
}

.commands-title:nth-child(even) {
    background:linear-gradient(to right,rgba(162, 59, 80, 0.141), rgba(192, 115, 52, 0.257));
}

.commands-title:nth-child(4n) {
    background:linear-gradient(to right,rgba(152, 162, 59, 0.141), rgba(82, 192, 52, 0.257));
}

.contact-btns { /* This is the contact button row. */
    display:flex;
    flex-direction:row;
}

.contact-btn {
    border:none;
    border-radius:9px;
    background:linear-gradient(45deg,#f27e7e,#ba5fe7);
    padding:10px;
    width:fit-content;
    margin:10px;
    display:flex;
    flex-direction:row;
    opacity:0.8; /* Low opacity set; on hover, opacity will be 1 */
    transition:0.5s;
    font-weight: 300;
}

.contact-btn.second-row {/* for second contact btn */
    background:linear-gradient(45deg, #6fd288, #42c0af); 
}

.contact-btn:hover {
    opacity:1;
    border-radius:15px;
    transform:scale(1.1);
    border-radius:18px;
    transform:scale(1);
    max-height:fit-content;
    font-weight:200;
}

.contact-btn .contact-tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: fixed;
    z-index: 1;
    bottom: 110%;
    left:-50px;
    opacity: 0;
    transition: 0.5s;
    transform:translate(0px,30px);
    overflow:hidden;
}

.contact-btn:hover .contact-tooltip {
    visibility: visible;
    opacity: 1;
    max-height:fit-content;
    font-weight:300;
    transform:translate(0px,0px);
  }

.fa-arrow-right {
    padding-left:2px;
    position:relative;
    transform:scale(1.4);
    transition:0.2s ease;
}


.fa-bars {
    color: rgba(255, 255, 255);
	background: rgba(0,0,0,0.2);
	text-align: center;
	display: none;
	cursor: pointer;
	position: absolute; /* Bypasses other elements' collisions */
	z-index: 50;
	width: 40px;
	height: 40px;
    border-radius: 3px;
    line-height:40px; /* Vertically centers icon */
    padding:0;
    transition:ease 1s;    	
    transform:scale(1.5);
    margin:20px;
    box-shadow:0px 10px 10px rgba(0, 0, 0, 0.158);
}

.fa-bars:hover {
    background:rgba(0,0,0,0.6);
    transform:scale(1.8);
}

.fa-plus {
    margin:10px;
    transition:0.6s;
    border-radius:50%;
    background-color:#00000055;
    padding:0;
}

.fa-lock, .fa-question, .fa-envelope, .fa-user-friends {
    font-weight:400;
    text-decoration:none;
}

.faq-question {
  background-color: #6e6e93;
  text-align: left;
  padding: 10px 30px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition:0.2s;
  margin-bottom:0px;
}

.faq-question:hover {
    background-color:#7f7fa9;
}

.faq-answer {
    overflow:hidden;
    max-height:0;
    transition: 0.4s cubic-bezier(.83,.01,.14,.99);
    margin-left:10px;
    margin-top:10px;
}

.footer-row {
    width:100%;
    height:30vh;			
    padding:10px;
    text-align:center;
    display:flex;
    flex-direction:column;
    z-index:3;
    box-shadow:0px 0px 40px 10px rgba(0, 0, 0, 0.158);
    justify-content: space-evenly;
    background:#4c465e;
}


.footer-link {
    color:#eeeeee;
    text-decoration:none;
}

.logo { 
    width:100px;
    height:100px;
    border-radius:10px;
    position:static;
    margin-bottom:-20px;
    box-shadow:-10px 10px 10px 0px rgba(0, 0, 0, 0.158);
    background:none;
}
.main {
    width:75%;
    right:0;
    height:fit-content;
    float:right;
}

.main-content {
    padding:20px;
}

.main-title {
    font-family:Work Sans;
    color:white;
    font-size:90px;
    text-align:center;
    margin-top:0px;
    margin:0;
    margin-left:40px;
}

.main-subtitle {
    font-family:Heebo, sans-serif;
    font-weight:300;
    color:#aaa;
    text-align:center;
    margin-top:0px;
}

.nav-collapsed {
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.986);
    transition:cubic-bezier(.82,.01,.41,.99) 1s;
    overflow:hidden; /* Just so the contents don't glitch out of the nav. */
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.nav-collapsed > ul {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    display:flex;
    flex-direction:column;
}

.nav-collapsed > ul > li {
    font-size:25px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding:0px;
    position: relative;
    width: fit-content;
    margin-top:40px;
}

.nav-collapsed > ul > li:after {
    background: #000000;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left:10px;
    content: '';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: rgb(163, 231, 239);
}


.nav-collapsed > ul > li:hover::after {
    width:100%;
}

.nav-items-list {
    width: 21%;
    position: fixed; /* On scroll it remains fixed */
    left: -10px;
    background: rgb(34, 32, 38);
    padding: 8px;
    font-size:25px;
    font-family:Epilogue, sans-serif;
    text-decoration:none;
    border-radius:5px;
    height:100%;
    top:0;
    margin:0;
    box-shadow:20px 0px 40px 30px rgba(0, 0, 0, 0.2);
    text-decoration:none;
    opacity:0.4;
    transition:0.5s;
}

.nav-items-list:hover {
    opacity:1.0;
    left:0;
    width:27%;
}

.nav-items-list > .nav-item {
    font-size:30px;
}

.nav-items-list > .fa-bars {
    position:fixed;
    right:0;
    top:0;
}

.nav-item {
    width:100%;
     transition:0.5s;
     text-decoration:none;
     color:white;
     text-align:center;
     margin-top:40px;
     font-size:20px;
}

.nav-item a {
    transition:0.5s;
    text-decoration:none;
}

.nav-img {
    padding:10px;
}

.nav-item:hover {
    text-decoration:none;
    color:white;
}

.nav-item::after {
    background: #000000;
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left:40%;
    content: '';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: rgb(163, 231, 239);
}

.nav-item:hover::after {
    width: 20%;
}


.nav-item-gradient {
    background: black;
    font-weight: 500;
    transition: 1s;
    margin: 0.625rem;
    border: none;
    padding:10px 13px;
    font-size:30px;
    text-align:center;
    border-radius:30px;
    filter:brightness(50%);
    transform:scale(0.95);
  }
  
  .nav-item-gradient:hover {
    color: #fff;
    border: 1px solid rgba(223,190,106,0);
    background-position: 99% 50%;
    box-shadow:0 0 60px 10px rgba(255, 255, 255, 0.661), 0px 20px 60px 10px rgba(0,0,0,0.2);
    opacity:1;
    color:black;
    filter:brightness(100%);
    transform:scale(1.05);
  }


.nav-item-gradient:hover .fa-plus {
    transform:rotateZ(90deg) scale(1.3) rotateX(25deg);
    color:white;
}

.nav-item-gradient:hover .nav-item-text {
    color:black;
    transition:0.5s;
}

.nav-item-gradient.collapsed {
    width:40vw;
    margin:0;
    padding:10px 13px;
    margin-left:28vw;
}

.nav-item-gradient.collapsed::after {
    content:'';
    background:none;
}

.nav-item.active {
    color:lightcyan;
}

.nav-item-text {
    text-decoration: none;
}

.page-title {
    margin-top:40px;
    font-weight:400;
    text-transform:capitalize;
    font-family:work sans, sans-serif;
    font-size:36px;
    margin-left:10px;
}

.web-design-credit {
	 padding:1px;
	 border-radius:10px;
	 text-decoration:underline;
}

.web-design-credit:hover {
    text-shadow:1px 1px 10px rgba(255, 255, 255, 0.429); /* Removed! */
    text-decoration:none;
}

@keyframes float-down {
    from {transform:translateY(-50px); opacity:0;}
}

@keyframes float-up {
    to {transform:translateY(-50px); opacity:0;}
}

@media only screen and (max-width: 1500px) {
    .nav-items-list {
        display:none;
        position:relative;
    }
    
    .main {
        width:100%;
    }
    .nav-collapsed, .fa-bars {
        display:block;
    }

    .nav-items-list > ul > li {
        display: block;
    }

    .footer-row {
        margin-left:auto;
        margin-right:auto;
    }
}

@media only screen and (min-width: 1500px) {
    .nav-collapsed {
        display: none;
    }
}

@media only screen and (min-height: 800px) {
    .footer-row {
        font-size:larger;
    }
}