html {
	background-color: rgb(75, 75, 75);
	text-align:center;
	animation:adjust 10s infinite; /* Changes bg color of website every 2 or so seconds */
}

.text-404 > div {
	font-size:100px;
	font-weight:600;
}

.error-404 { /* The first 404 */
	color:rgba(255, 0, 0, 0.596);
	animation:flash-3 1s infinite 0.5s;
	font-family:Arial, Helvetica, sans-serif;
}

.error-404-2 { /* one of the glitching 404s */
	color:rgba(4, 0, 255, 0.8); /* Lower opacity than norm so can see other glitching 404s */
	margin-top:-116px;
	animation:flash 1s infinite 0.3s;
	font-family:Arial, Helvetica, sans-serif;
}

.error-404-3 { /* last glitching 404 */
	color:rgba(0, 0, 0, 0.678); /* even lower opacity!! */
	margin-top:-119px;
	animation:flash-2 1s infinite;
	font-family:Arial, Helvetica, sans-serif;
}

.error-message {
	background: rgb(184, 184, 184);
	max-width: 400px;
	margin: 100px auto 16px;
	padding: 32px 24px 16px;
	border-radius: 3px;
	z-index:2; /* will appear on top of bg */
	font-family:Work Sans, Helvetica, sans-serif;
	box-shadow: 0 10px 30px 18px rgba(0, 0, 0, 0.377); /* cool shadows */
}

.error-message h1 {
	font-size: 30px;
	font-weight: 580;
	color: rgba(0,0,0,0.6);
	margin: 0 0 16px;
	text-shadow:1px 1px 2px white;
	z-index:2;
}

.error-message p {
    color:black;
	z-index:2;
}

.error-message button {
  color: black;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  margin: 0 0 2em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border:none;
  background:none;
  transition: all 1000ms cubic-bezier(.93,0,.12,.98);
  width:100%;
  text-align:center;
}

.error-message button:after, .error-message button:before {/* top and bottom borders of button */
	backface-visibility:hidden;
	border: 1px solid rgba(255,255,255,0);
	content:"";
	display:block;
	margin:2px auto;
	transition: all 1000ms cubic-bezier(.93,0,.12,.98);
  	width: 0;
	color:black;
}

.error-message button:hover:after,
.error-message button:hover:before { /* on hover show borders */
  backface-visibility: hidden;
  border-color: #fff;
  transition: all 1000ms cubic-bezier(.93,0,.12,.98);
  width: 30%;
  padding:0;
  color:white;
  transform:scale(1.15);
}

.error-message button:hover {
	letter-spacing: 2px;
	color:white;
	transform:scale(1.05);
	font-size:17px;
}

.error-message button:active {
	letter-spacing: -1px;
	transition:200ms cubic-bezier(.93,0,.12,.98);
	transform:scale(0.95);
}

@keyframes adjust { /* @keyframes for color changing bg */
	0% {background-color:rgb(102, 146, 146);}
	20% {background-color:rgb(94, 119, 94);}
	40% {background-color:rgb(136, 111, 111);}
	60% {background-color:rgb(119, 94, 118);}
	80% {background-color:rgb(77, 85, 112);}
	100% {background-color:rgb(102, 146, 146);}
}

@keyframes flash-2 { /* glitching 404 animations below*/
	0% {transform:translate(0,0);}
	1% {transform:translate(1px,3px);}
	20% {transform:translate(1px,3px);}
	21% {transform:translate(-3px,1px);}
	45% {transform:translate(-3px,-1px);}
	46% {transform:translate(-5px, 3px);}
	89% {transform:translate(-5px, 3px);}
	90% {transform:translate(3px,-5px);}
	99% {transform:translate(3px,-5px);}
}

@keyframes flash {
	0% {transform:translate(1px,-3px);}
	1% {transform:translate(3px,-7px);}
	20% {transform:translate(3px,-7px);}
	21% {transform:translate(-4px,4px);}
	45% {transform:translate(-4px,4px);}
	46% {transform:translate(-3px, 5px);}
	89% {transform:translate(-5px, 3px);}
	90% {transform:translate(10px,8px);}
	99% {transform:translate(1px,-9px);}
}

@keyframes flash-3 {
	0% {transform:translate(0px,3åpx);}
	1% {transform:translate(3px,-7px);}
	20% {transform:translate(3px,-7px);}
	21% {transform:translate(-4px,4px);}
	45% {transform:translate(-4px,4px);}
	46% {transform:translate(-3px, 5px);}
	89% {transform:translate(-5px, 3px);}
	90% {transform:translate(10px,8px);}
	99% {transform:translate(1px,-9px);}
}
