<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="UtilityBot, the ultimate server management bot">
    <meta name="keywords" content="discord bot, bot, utilitybot">
    <title>Utility Bot - The Ultimate Server Management Bot</title>
    <script src="https://kit.fontawesome.com/66d1518bf8.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Work+Sans:ital,wght@0,100;0,263;0,531;1,312;1,531&display=swap');
    </style>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <i class="fas fa-bars" id="openButton" onclick="navView();"></i>
  <div class="nav-collapsed" id="navCollapsed">
      <ul id="navList">
          <li onclick="openInNewTab('https://google.com')" class="nav-item-gradient collapsed" id="addToServerCollapsed"><i class="fas fa-plus nav-img"></i><a class="nav-item-text"
                  href="/">
                  <!-- Put oauth link in between quote marks  -->Invite
              </a></li>
          <li class="nav-item collapsed"><i class="fas fa-envelope-square nav-img"></i><a href="/contact">contact
                  us</a></li>
          <li class="nav-item collapsed"><i class="fas fa-list-ul nav-img"></i><a href="/commands">
                  commands</a></li>
          <li class="nav-item collapsed"><i class="fas fa-question nav-img"></i><a href="/faq">FAQ</a></li>
      </ul>
  </div>

  <div class="main" id="main">
      <div class="header">
          <h1 class="main-title">
              <img class="logo" src="imgs/utilitybot.png"></img>Utility Bot
          </h1>
            <h1 class="main-subtitle">The ultimate server management bot</h1>
            <div class="main-content">
        <hr class="left-separator">
       <h2 class="page-title">Complete list of UtilityBot commands</h2>
       <div class="commands">
       <h1 class="commands-title" style="max-height:47px;" css-data-number="1">Moderation
       <table class="commands-list-category">
         <tr>
         <th>Command</th>
         <th>Description</th>
         </tr>
         <tr>
           <td>u!kick [member] (reason)</td>
           <td>Kicks a member.</td>
         </tr>
         <tr>
          <td>u!ban [member] (reason)</td>
          <td>Bans a member.</td>
        </tr>
        <tr>
          <td>u!unban [member] (reason)</td>
          <td>Unbans a member.</td>
        </tr>
        <tr>
          <td>u!mute [member]</td>
          <td>Mutes a member.</td>
        </tr>
        <tr>
          <td>u!unmute [member]</td>
          <td>Unmutes a member.</td>
        </tr>
        <tr>
          <td>u!purge [amount]</td>
          <td>Purges a specified amount of messages.</td>
        </tr>
       </table>
      </h1>
<br>
       <h1 class="commands-title" style="max-height:47px" css-data-number="2">Fun
       <table style="max-height:29px;" class="commands-list-category">
        <tr>
        <th>Command</th>
        <th>Description</th>
        </tr>
        <tr>
          <td>u!roast [member]</td>
          <td>Roasts a member.</td>
        </tr>
        <tr>
         <td>u!slap [member]</td>
         <td>Slaps a member.</td>
       </tr>
       <tr>
         <td>u!coinflip</td>
         <td>Flips a coin.</td>
       </tr>
       <tr>
         <td>u!roll [sides]</td>
         <td>Rolls a die.</td>
       </tr>
      </table>
    </h1>
      <br>
      <h1 class="commands-title" style="max-height:47px;" css-data-number="3">Information
      <table class="commands-list-category">
        <tr>
          <th>Command</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>u!help</td>
          <td>General help command.</td>
        </tr>
        <tr>
          <td>u!mod</td>
          <td>For help with the moderation module.</td>
        </tr>
        <tr>
          <td>u!fun</td>
          <td>For help with the fun module.</td>
        </tr>
        <tr>
          <td>u!prefix</td>
          <td>Get the prefix for the bot.</td>
        </tr>
        <tr>
          <td>u!invite</td>
          <td>Get the invite for UtilityBot.</td>
        </tr>
        <tr>
          <td>u!avatar [member]</td>
          <td>Get the avatar of a user.</td>
        </tr>
        <tr>
          <td>u!serverinfo</td>
          <td>Gets the server information.</td>
        </tr>
        <tr>
          <td>u!userinfo [member]</td>
          <td>Get the information about a user.</td>
        </tr>
      </table>
    </h1>
      <br>
      <h1 class="commands-title" style="max-height:47px;" css-data-number="4">Utility
        <hr class="full-width">
      <table class="commands-list-category" id="tableU">
        <tr>
          <th>Command</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>u!ping</td>
          <td>Ping.</td>
        </tr>
        <tr>
          <td>u!status</td>
          <td>Finds the bot status.</td>
        </tr>
      </table>
    </h1>
  </div>
</div>
</div>
</div>
</div>

<div class="footer-row" id="foot">
  <p>2020-2021 Utility Bot, The Ultimate Server Management Bot</p>
  <i class="fa fa-lock">
  <a class="footer-link" href="/privacy">Privacy Policy</a></i>
  <br>
  <i class="fa fa-question">
  <a class="footer-link" href="mailto:support@utilitybot.co">Support</a></i>
  <br>
  <i class="fa fa-envelope" aria-hidden="true">
  <a class="footer-link" href="/contact">Contact us</a></i>
  <br>
  <i class="fa fa-user-friends">
  <a class="footer-link" href="/reviews">
      Reviews</a></i>
  <hr>
  <p>Web design by <a class="web-design-credit" target="_blank"
          href="https://github.com/PineappleRind">PineappleRind</a> and <a class="web-design-credit" target="_blank"  href="https://twitter.com/The_Coding_Guru"> Aditya Kapoor </a></p>
</div></div>
<script src="js/site.js"></script>
</body>
</html>