<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utility Bot - The Ultimate Server Management Bot With Moderation Memes And Much More!</title>
    <script src="https://kit.fontawesome.com/37b7d8c548.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,263;0,531;1,312;1,531&display=swap');

    </style>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <i class="fas fa-bars" id="openButton" onclick="navView();"></i>
    <div class="nav-collapsed" id="navCollapsed" style="height: 0%;">
        <ul id="navList">
            <li onclick="openInNewTab('https://google.com')" class="nav-item-gradient collapsed" id="addToServerCollapsed"><i class="fas fa-plus nav-img"></i><a class="nav-item-text"
                    href="/">
                    <!-- Put oauth link in between quote marks  -->Invite
                </a></li>
            <li class="nav-item collapsed"><i class="fas fa-envelope-square nav-img"></i><a href="/contact">Contact us</a></li>
            <li class="nav-item collapsed"><i class="fas fa-list-ul nav-img"></i><a href="/commands">list of
                    commands</a></li>
            <li class="nav-item collapsed"><i class="fas fa-question nav-img"></i><a href="/faq">FAQ</a></li>
        </ul>
    </div>
    <div class="nav">
        <ul class="nav-items-list">
            <br>
            <i class="fas fa-bars" id="openButton" onclick="navView();"></i>
            <li onclick="openInNewTab('https://google.com')" class="nav-item-gradient" id="addToServer"><i class="fas fa-plus nav-img"></i><a class="nav-item-text"
                    href="#">
                    Invite Utility Bot
                </a></li>
            <li class="nav-item"><i class="fas fa-envelope-square nav-img"></i><a href="/contact">Contact us</a></li>
            <li class="nav-item"><i class="fas fa-list-ul nav-img"></i><a href="/commands">
                    Commands</a></li>
            <li class="nav-item"><i class="fas fa-question nav-img"></i><a href="/faq">FAQ</a></li>
        </ul>
    </div>

    <div class="main">
        <div class="header">
            <h1 class="main-title">
                <img class="logo" src="imgs/utilitybot.png"></img>Utility Bot
            </h1>
            <h1 class="main-subtitle">The ultimate server management bot</h1>
            <div class="main-content">
        <hr class="left-separator">
        <h2 class="page-title">Frequently Asked Questions</h2>
          <p class="faq-question">What can the bot do?</p>
          <div class="faq-answer">Utility Bot has many useful commands. You can kick, ban, or mute members of your server. There are also some fun commands such as roast or slap.</div>
          <p class="faq-question">Which prefix does UtilityBot use?</p>
          <div class="faq-answer">The default prefix is u!. It can be changed easily. Example: u!mute</div>
          <p class="faq-question">How do I know what commands there are?</p>
          <div class="faq-answer">All of the commands are listed on our <a href="utilitybot.co/commands">command list.</a></div>
          <!-- Put more questions here :D -->
      </div> 
    </div>
  </div>

  <div class="footer-row">
    <p>2020-2021 Utility Bot, The Ultimate Server Management Bot</p>
    <i class="fa fa-lock">
    <a class="footer-link" href="/privacy">Privacy Policy</a></i>
    <i class="fa fa-question">
    <a class="footer-link" href="mailto:support@utilitybot.co">Support</a></i>
    <i class="fa fa-envelope" aria-hidden="true">
    <a class="footer-link" href="/contact">Contact us</a></i>
    <i class="fa fa-user-friends">
    <a class="footer-link" href="/reviews">
        Reviews</a></i>
    <hr>
    <p>Web design by <a class="web-design-credit" target="_blank"
            href="https://github.com/PineappleRind">PineappleRind</a></p>
</div>
<script src="js/site.js"></script>
</body>
</html>