<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="UtilityBot, the ultimate server management bot">
        <meta name="keywords" content="discord bot, bot, utilitybot">
        <title>Utility Bot - Privacy Policy</title>
        <script src="https://kit.fontawesome.com/66d1518bf8.js" crossorigin="anonymous"></script>
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,263;0,531;1,312;1,531&display=swap');
      </style>
        <link rel="stylesheet" href="css/style.css">
      </head>
<body>
    <div class="main">
        <div class="header">
          <h1 class="main-title">
            Utility Bot
          </h1>
          <h1 class="main-subtitle">The ultimate server management bot</h1>
          </div>
          <div class="main-content">
              <hr class="left-separator">
              <div class="page-title">Privacy Policy</div>
              <button>Return to Homepage ‍ <i class="fas fa-arrow-right"></i></button>
          </div>
</body>
</html>
