/*Base styles*/
html {
    background:#35354d;
    color:white;
    font-family:Heebo;
}

a {
    color:white;
    text-decoration-skip-ink: all; /* Underline skips letter descenders */
    transition:100ms;
    font-family:Heebo;
    text-decoration:none;
}

a:hover {
    font-weight:bold;
}

h1 {
    font-family:Work Sans, sans-serif;
}

hr {
    width:50%;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.158);
}


hr.no-margin {
    background-color:#72729a;
    height:3px;
    width:70%;
    margin-top:-70px;
    margin-left:15%;
    border-radius:2px;
    align-items:center;
    border:none;
}

hr.left-separator {
    margin-left:0;
    margin:0;
}

ul {
    list-style-type:none;
    text-decoration:none;
}

.contact-btns { /* This is the contact button row. */
    display:flex;
    flex-direction:row;
}

.contact-btn {
    border:none;
    border-radius:9px;
    background:linear-gradient(45deg,#efa1a1,#ffc2b2);
    padding:10px;
    width:fit-content;
    margin:10px;
    display:flex;
    flex-direction:row;
    opacity:0.8; /* Low opacity set; on hover, opacity will be 1 */
    transition:0.5s cubic-bezier(.8,0,.39,1);
}

.contact-btn.second-row {/* for second contact btn */
    background:linear-gradient(45deg, #6fd288, #42c0af); 
}

.contact-btn:hover {
    opacity:1;
    border-radius:15px;
    transform:scale(1.1);
}

.fa-bars {
    color: rgba(255, 255, 255);
	background: rgba(0,0,0,0.2);
	text-align: center;
	display: none;
	cursor: pointer;
	position: absolute; /* Bypasses other elements' collisions */
	z-index: 50;
	width: 40px;
	height: 40px;
    	border-radius: 3px;
    	line-height:40px; /* Vertically centers icon */
    	padding:0;
    	transition:ease 1s;
    	transform:scale(1.5);
    	margin:20px;
    	box-shadow:0px 10px 10px rgba(0, 0, 0, 0.158);

}

.fa-bars:hover {
    background:rgba(0,0,0,0.6);
    transform:scale(1.8);
}

.fa-plus {
    box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
        inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.3),
        4px 4px 10px rgba(0, 0, 0, 0.3); /* cool inset shadows */
    margin:10px;
    border-radius:50%;
    background-color:rgba(0, 0, 0, 0.24);
    width:25px;
    height:25px;
}

.faq-question {
  background-color: #6e6e93;
  text-align: left;
  padding: 10px 20px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  cursor: pointer; /* helps with js */
  transition:0.2s;
  margin-bottom:0px;
}

.faq-question:hover {
    background-color:#7f7fa9;
}

.faq-answer {
    overflow:hidden;
    max-height:0;
    transition: 0.4s cubic-bezier(.83,.01,.14,.99);
    margin-left:10px;
    margin-top:10px;
}

.footer-row { /* Bug fixed!! :D */
    width:100%;
    height:300px;			
    background:#35354d;
    left:0;
    right:0;
    padding:10px;
    border-top:#1d1d28 3px solid; /* separates footer from main page */
    text-align:center;
}

.footer-link {
    color:#eeeeee;
    text-decoration:none;
    background:#35354d;
}

.logo { /* so uh the logo is positioned in a kind of forced way. its not the best way to position it so ill fix it later. */
    position:absolute;
    display:block;
    width:80px;
    height:80px;
    background-size:contain;
    border-radius:10px;
    object-fit:cover;
    margin-top:12px;
    margin-left:-20px;
}

.main {
    background:#4c465e;
    width:65%;
    right:0;
    height:fit-content;
    float:right;
}

.main-content {
    padding:20px;
}

.main-title {
    font-family:Work Sans;
    color:white;
    font-size:90px;
    text-align:center;
    margin-top:0px;
    margin-left:40px;
}

.main-subtitle {
    font-family:Heebo, sans-serif;
    font-weight:300;
    color:#aaa;
    text-align:center;
    margin-top:0px;
}

.nav-collapsed {
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(16, 16, 16, 0.92);
    transition:cubic-bezier(.82,.01,.41,.99) 1s;
    overflow:hidden; /* Just so the contents don't glitch out of the nav. */
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.nav-collapsed > ul {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.nav-collapsed > ul > li {
    font-size:25px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding:0px;
    position: relative;
    width: 100%;
    display: inline-block;
    margin-top:40px;
}

.nav-items-list {
    width: 30%;
    position: absolute; /* On scroll it remains fixed */
    left: 10px;
    background: rgba(101, 96, 125, 0.6);
    padding: 8px;
    font-size:25px;
    font-family:Epilogue, sans-serif;
    text-decoration:none;
    border-radius:5px;
}

.nav-item {
     width:100%;
     margin-top:10px; /* Unnecessary font-strech removed */
     transition:0.2s ease-in-out;
     text-decoration:none;
     color:white;
}

.nav-img {
    padding:10px;
}

.nav-item:hover {
    text-decoration:none;
    color:white;
}

.nav-item-gradient {
    text-decoration:none;
    color:white;
    background:linear-gradient(to right, rgba(97, 9, 9, 0), rgb(140, 34, 101), rgba(97, 9, 9, 0));
    position:static;
    font-size:25px;
    text-transform:uppercase;
    text-align:center;
    width:100%;
    transition:200ms linear; /* linear ease fixes some bugs */
}

.nav-item-gradient:hover {
    filter:hue-rotate(-40deg);
    transform:translateY(0px) translateX(0);
    font-weight:700;
}

.nav-item-gradient.collapsed {
    width:40%;
}

.nav-item.active {
    color:lightcyan;
}

.page-title {
    margin-top:40px;
    font-weight:400;
    text-transform:capitalize;
    font-family:work sans, sans-serif;
    font-size:36px;
    margin-left:10px;
}

.web-design-credit {
	 padding:1px;
	 border-radius:10px;
	 text-decoration:underline;
}

.web-design-credit:hover {
    box-shadow:1px 1px 3000px 300px rgba(255, 255, 255, 0.014); /* this is weird and inefficient so it'll be removed. */
    text-decoration:none;
}

/* not sure what an ::after pseudoelement was doing here :/ */

@media only screen and (max-width: 1500px) {
    .nav-items-list {
        display:none;
        position:relative;
    }
    
    .main {
        width:100%;
    }
    .nav-collapsed, .fa-bars {
        display:block;
    }

    .nav-items-list > ul > li {
        display: block;
    }

    .footer-row {
        margin-left:auto;
        margin-right:auto;
    }
}

@media only screen and (min-width: 1500px) {
    .nav-items-list > ul > li {
        display: none;
    }
}
